# 1c publication
<Directory "{{ ctx.url_path }}">
    AllowOverride All
    Options None
    Order allow,deny
    Allow from all
    SetHandler 1c-application
    ManagedApplicationDescriptor "{{ ctx.vrd_filename }}"
</Directory>